<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <hr>
    <div class="flex justify-center w-full p-20">
        <div class=" w-80">
            <form action="{% url 'crear_turno' %}" method='POST'>
                {% csrf_token %}
                {{ form }}
                <input class="primary" type='submit' value='Crear turno'>
            </form>
        </div>
    </div>
</body>

</html>