{% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <hr>
    <div class="flex justify-center w-full p-20">
        <div class=" w-80">
            <form  method='post'>
                {% csrf_token %}
                {{ form.as_p }}
               <button class="btn btn-primary" type="submit"Guardar></button>
            </form>
        </div>
    </div>
</body>

</html>