<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medicos</title>
  <!-- Enlace Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <!-- Enlace de google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Enlace a CSS -->
  <link rel="stylesheet" href="../static/componentes/css/turnos.css">
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <!-- 1ra columna del NAV (logo) -->
          <div class="col-6">
            <a class="logo-img" src="#">
              <img src="../static/componentes/img/logo ajustado.png" alt="Logo hospital">
            </a>
          </div>
          <!-- 2da columna del NAV (navegacion) -->
          <div class="col-6">
            <nav class="nav" id="nav">
              <div class="mobile-menu-button">
                <svg class="h-8 w-8" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <title>Mobile menu</title>
                  <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
              </div>
              <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="institucional.html">Institucional</a></li>
                <li><a href="index.html#noticias">Noticias</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a class="intranet" href="http://pacientes.pythonanywhere.com/accounts/login/?next=/pacientes/"
                    target="_blank">Intranet</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!-- Menú hamburguesa -->
      <div class="dropdown">
        <div class="close-button">
          <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </div>
        <hr>
        <hr>
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="institucional.html">Institucional</a></li>
          <li><a href="index.html#noticias">Noticias</a></li>
          <li><a href="servicios.html">Servicios</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li><a href="http://pacientes.pythonanywhere.com/accounts/login/?next=/pacientes/"
              target="_blank">Intranet</a>
          </li>
        </ul>
        <hr>
        <div class="button-container">

        </div>
        <p class="copyright-text">Copyright © 2023</p>
      </div>

      <div class="dropdown-backdrop"></div>
      <div class="titulo">
        <a class="titulo-pag">
          <h1>HOSPITAL D. ARTURO OÑATIVA</h1>
        </a>
      </div>
      <!-- Imagen del hospital debajo del Header -->
      <div class="row">
        <div class="">
          <img class="imagenhospi" src="../static/componentes/img/hospital4.jpg" alt="" />
        </div>
      </div>
    </div>
  </header>
  <!-- Termina el header******************************************************************* -->
  <main>
    <div class="container contenedor">
      <div class="row">
        <!-- Columna 1 Titulo Sistema Gest Turnos -->
        <div class="col-7">
          <h2>Sistema de gestión de turnos</h2>
        </div>
        <!-- Columna 2 Saludo -->
        <div class="col-3">

        </div>
        <!-- Columna 3 Botón y modal CREAR TURNO-->
        <div class="col-2">
          <!-- Modal crear turno -->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary boton_CT" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Crear turno
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo turno</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!-- <div class="flex justify-center w-full p-20">
              <div class=" w-80"> -->
                  <form action="{% url 'crear_turno' %}" method='POST'>
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-primary" type='submit' value='Crear turno'>
                  </form>
                  <!-- </div>
            </div> ... -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>





    </div>



    <br><br>
    <div class="container-fluid">
      <div class="container">
        <div class="table-responsive">
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Nombre y apellido</th>
                <th>DNI</th>
                <th>Médico</th>
                <th>Fecha y hora</th>
                <th>Acciones</th>
              </tr>
            </thead>
            {% for turno in turnos %}
            <tbody>
              <tr>
                <td>
                  <p> {{ turno.nombre }} {{ turno.apellido }}</p>
                  <p> </p>
                </td>
                <td>
                  <p> {{ turno.dni_paciente }}</p>
                </td>
                <td>
                  <p> {{ turno.medico }}</p>
                </td>
                <td>
                  <p>{{ turno.horario }}</p>
                </td>
                <td>
                  <button type="button" class="btn btn-link btn-sm btn-rounded">
                    Edit
                  </button>
                </td>
              </tr>

              </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>

      </div>

  </main>

  </div>
  <footer>

  </footer>






  <script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
      myInput.focus()
    })
  </script>

  <!-- <script src="../static/componentes/header.js"></script> -->
  <!-- <script src="../static/componentes/footer.js"></script> -->
  <script src="../static/js/script.js"></script>


</body>


</html>