/* font-family: 'Merriweather', serif;-----Fuente para titulos y subtitulos*/
/* font-family: 'Open Sans', sans-serif;-----Fuente para párrafos */
.colores {
    color: #F2F2F2;
    color: #152C40;
    color: #04BFBF;
    color: #03ADC6;
}

body {
    margin-right: 10px;
    margin: 0%;
    /*le agregué para que quede al borde y no se vean espacios en blanco en el footer. -Dani*/
    background-color: #f4eded;
    font-family: 'Merriweather', serif;
    align-items: center;
}

/* Estilos para la barra de navegación principal */
h1,
h2 {
    font-size: 1.7em;
    color: #152C40;
}

h3 {
    font-size: 1em;
    color: #152C40;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #152C40;
}

.contheader{
    display: flex;
    padding-top: 1em;
    align-items: flex-end
}
.cont_logo{
    width: 20%;
}
.cont_username{
    width: 70%;
    /* padding-top: 1em; */
    padding-right: 1em;
    text-align: right;
    font-size: 1.3em;
    color: #152C40;
    font-family: 'Merriweather', serif;
}
.cont_username h3{
    margin: 0;
}
.cont_Cerrar{
    width: 10%;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;    
}

.cont_Cerrar a{
    color: red;
}

.contheader img{
    width: 100%;
}

.d-flex{
    justify-content: flex-end
}
.d-flex .btn{
    
}

.acciones{
    text-align: right;
}








/* Estilo para subrayado animado */
.nav ul li a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #03ADC6;
    transform-origin: right;
    transform: scalex(0);
    transition: transform 0.5s ease-in-out;
}

.nav ul li a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

/* Agregado margin boton al enlace de intranet por algun motivo no quedaba alineado el subrayado animado */


.titulo {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    /* Centra horizontalmente el contenido dentro del elemento */
    align-items: center;
    /* Centra verticalmente el contenido dentro del elemento */
    text-align: center;
    /* Centra el texto horizontalmente (opcional) */
    width: 100%;
    background-color: #03ADC6;
    border-radius: 15px 15px 0 0;
    color: white;
    text-shadow: 0 0 10px #fff8;
}

/*.titulo:hover {}*/

.titulo2 {
    margin-left: 25%;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 15px;
}

.titulo .titulo-pag {
    margin: 0;
    padding: 1em;
    max-width: 90%;
    text-decoration: none;
    text-shadow: 0 0 10px #fff8;
}

.titulo-pag h1{
    font-family: 'Merriweather', serif;
    color: #152C40;
    padding-top: 0.5em;
    font-weight: bold;
}

.contenedor-imagenhospi {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: 1rem;
}

.imagenhospi {
    max-width: 100%;
    height: auto;
}

/******** ESTILOS DEL MAIN *******/

.contenedor{
    margin-top: 2em;
}
.boton_CT{
    margin-left: 2em;
    background-color: #03ADC6;
    border-color: #03ADC6;
}

.boton_CT:hover {
    background-color: #0aa6be;
    border-color: #03ADC6;
}






/********* ESTILOS DEL FOOTER - COPIAR A PARTIR DE AQUÍ *************/
/* grid area del footer-columnas */
.pie_pag-col1 {
    grid-area: pie_pag-col1;
    padding-left: 4em;
}

.pie_pag-col2 {
    grid-area: pie_pag-col2;

}

.pie_pag-col3 {
    grid-area: pie_pag-col3;
}

.pie_pag-col4 {
    grid-area: pie_pag-col4;
    margin-right: 5em;
}

.footer {
    background-color: #03adc6;
    padding: 2em 0 3em 0;
    display: grid;
    padding: 2em auto;
    gap: 1.6em;
    grid-template-areas: "pie_pag-col1   pie_pag-col2   pie_pag-col3    pie_pag-col4";
}

footer p {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #0b1721;
    font-size: 0.9em;
}
.contacto {
    margin-top: 2em;
}
.footer ul,
.footer a h5,
.pie_pag-col2 a {
    list-style: none;
    padding-left: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    color: #0b1721;
    font-size: 0.9em;
    margin-top: 0.6em;
    font-weight: lighter;
}

footer h4 {

    color: #0b1721;
    font-size: 1em;
    font-family: 'Merriweather', serif;
    text-decoration: underline;
}

.footer a:hover{
    color: #dbe6e6;
}

.footer a h5:hover{
    color: #dbe6e6;
}

.pie_pag-col2 a,
.pie_pag-col2 li {

    margin-bottom: 0.5em;
}

/* estilos de registrase */
.registrarse h4 {
    margin-bottom: 1em;
    background-color: transparent;
    color: #e6f8f8;
    text-decoration: none;
    
}

.registrarse input {
    background-color: #e6f8f8;
    margin-bottom: 1em;

}


.registrarse button {
    border: 2px solid rgb(24, 24, 24);
    border-radius: 5px;
    background-color: #e6f8f8;
    font-size: 0.7em;
    cursor: pointer;
    padding: 1em;
    

}

.registrarse button:hover{
    font-size: 0.8em;
    
    background-color: #e6f8f8;
   
    
}

.suscripcion {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid rgb(15, 15, 15);
}

.suscripcion::placeholder {
    color: black;
}

/* Estilos Redes sociales */
.redes_container{
    display: flex;
}
.redes_item{
    width: 25%;
}


/* ESTILOS PANTALLAS PEQUEÑAS */
@media screen and (max-width: 768px) {

    .nav ul li {
        display: none;
    }

    .nav ul {
        flex-direction: row;
        /* Vuelve a la disposición en fila */
        justify-content: space-between;
        /* Espaciado en torno a los elementos */
        align-items: center;
        background-color: #03acc660;
        /* Centra los elementos en pantallas pequeñas */
    }

    .nav ul li {
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .nav ul li:last-child {
        margin-right: 0;
    }

    .nav .mobile-menu-button {
        display: flex;
        align-items: end;
        /* Muestra el botón de menú móvil en pantallas pequeñas */
    }

    .dropdown {
        width: 100%;
        /* Ocupa todo el ancho en pantallas pequeñas */
        max-width: none;
    }

    .titulo .titulo-pag {
        font-size: 0.6rem;
        background-color: #03ADC6;
    }

    /* seccion valores */
    .section_valores {
        padding-top: 0.4em;
    }

    .section_valores .val_item img {
        width: 67%;
    }

    .section_valores .val_item img:hover {
        width: 69%;
    }

    .section_valores .val_item h2 {
        font-size: 12px;
        text-transform: lowercase;
    }

    /* seccion institucional */
    .somos {
        padding: 0;
        margin: 0;
    }

    .objetivo {
        padding: 0 0 4em 0;
        margin: 0;
    }

    .section_inst p {
        font-size: 0.8em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .inst_img {
        margin-top: 8em;
        display: block;
        margin: 1em;
        align-content: center;
    }

    .inst_img_item {
        width: 100%;
        margin: 2em 0 0 0;
    }

    /* seccion noticias */

    .section_noticias {
        padding-top: 0;
    }

    .not_item {
        grid-template-areas: "noticia1 noticia1 noticia1"
            "noticia2 noticia2 noticia2"
            "noticia3 noticia3 noticia3"
            "noticia4 noticia4 noticia4"
            "noticia5 noticia5 noticia5"
            "noticia6 noticia6 noticia6";
    }

    .not_item .noticia1 img {
        margin-top: 0;
    }

    /* footer */
    .footer {
        padding-left: 3em;
        grid-template-areas: "pie_pag-col1  pie_pag-col1   pie_pag-col2     pie_pag-col2"
            "pie_pag-col3   pie_pag-col3    pie_pag-col4    pie_pag-col4";
    }

    .pie_pag-col1 {
        padding-left: 0;
    }

    .pie_pag-col4 {
        margin-right: 0;
    }

    .pie_pag-col2,
    .pie_pag-col4 {
        margin-right: 3em;
    }

    .pie_pag-col4 .registrarse input {
        width: 100px;
    }










}

/* Pendientes:
1. 