.cont_form{
    width: 50%;
    margin:  auto;

}
.cont_logo{
    padding-top: 2em;
    width: 40%;
    margin: 0 auto;


}

.cont_logo img {
    display: block;
    width: 50%;
    margin: 0 auto;
}


.cont_logo .logo_img{
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 1.9em;
    color: #152C40;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: center;
}

.boton_InSesion{
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.boton_InSesion .btn{
    background-color: #03ADC6;
    border-color: #03ADC6;
}




@media (max-width: 600px) {
    .cont_form{
        width: 100%;
        margin: 0 auto;

    }
    .cont_logo{
        padding-top: 6em;
        width: 80%;
        margin: 0 auto;


    }

    .cont_logo img{
        width: 70%;
    }



    .cont_logo .logo_img{
        display: flex;
        margin: 0 auto;
    }

    h1 {
        font-size: 1.9em;
        color: #152C40;
        font-family: 'Merriweather', serif;
        font-weight: bold;
        text-align: center;
    }

    .boton_InSesion{
        width: 100%;
        margin: 0 auto;
    }
}